/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif; }

a {
  text-decoration: none;
  color: #006767; }

h1,
h2,
h3 {
  font-family: 'Lora', serif; }

p {
  font-size: 0.8em;
  line-height: 1.2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

#site {
  background: url("../assets/paper_fibers/paper_fibers.png");
  display: flex;
  flex-direction: column;
  padding: 1em; }

#navbar {
  display: flex;
  flex-direction: column;
  align-items: center; }

#doc-title {
  font-family: 'Homemade Apple', 'Muli', 'Lora', serif;
  font-size: 1.3em;
  color: #006767;
  margin: 1em auto; }

#nav-list {
  background-color: #006767;
  width: 100%; }

.nav-link li {
  background-color: #006767;
  font-size: 0.7em;
  color: #edf9f9;
  padding: 0.8em 0;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.2s; }

.nav-link li:hover {
  background-color: #edf9f9;
  color: #006767; }

.main-section header {
  color: #006767;
  font-family: 'Lora', serif;
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.2em; }
.main-section h1 {
  font-family: 'Lora', serif; }

.main-section-list h2 {
  font-weight: bold;
  margin-bottom: 0.25em;
  text-transform: uppercase; }
.main-section-list li {
  margin-top: 0.5em; }
  .main-section-list li p {
    margin-left: 1em; }

.second-tier-list {
  margin-left: 1em; }
  .second-tier-list h2 {
    color: #006767;
    font-weight: 200;
    margin-bottom: 0.1em;
    text-transform: capitalize; }
  .second-tier-list li {
    margin-top: 0.5em; }
    .second-tier-list li p {
      margin-left: 1em; }

code {
  background: url("../assets/lined_paper/lined_paper.png");
  display: block;
  font-size: 0.5em;
  width: 100%; }

.pen-ink {
  font-family: 'Homemade Apple', cursive; }

.typed {
  font-family: 'Lora', serif; }

img {
  width: 80%;
  margin-left: 10%; }

.cards {
  position: relative;
  height: 9em;
  width: 16em;
  margin-bottom: 1em; }

.card,
.postcard {
  background-color: white;
  border-radius: 2px;
  box-shadow: 3px 5px 10px 1px grey;
  position: absolute;
  height: 100%;
  width: 100%; }

.card-message-block-right,
.card-message-block-left {
  position: absolute;
  width: 45%; }

.card-message-block-right {
  left: 50%;
  top: 32%; }

.card-text-left,
.card-text-right {
  font-family: 'Homemade Apple', cursive;
  font-size: 0.6em;
  color: #006767; }

.card-text-left {
  line-height: 1.6em; }

.card-text-right {
  line-height: 1.2em; }

.card-outside {
  box-shadow: 3px 5px 10px 1px grey;
  position: absolute;
  width: 50%;
  height: 100%;
  background: url(../assets/card_outside.svg);
  background-size: cover; }

.card-inside {
  background: url(../assets/card_inside.svg);
  background-size: cover; }

.postcard-back {
  background: url(../assets/aus_postcard.svg);
  background-size: cover; }

.postcard-text,
.message-block {
  font-size: 0.6em;
  font-family: 'Homemade Apple', cursive;
  color: #006767; }

.message-block {
  position: absolute;
  line-height: 1.4em;
  top: 4.3%;
  left: 3%;
  width: 45%; }

.address-block {
  position: absolute;
  top: 10%;
  height: 80%;
  left: 50%;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left-color: #ac7300;
  border-left-width: 1px;
  border-left-style: solid; }

.stamp-base {
  position: absolute;
  width: 13%;
  height: 27%;
  top: 2%;
  right: 2%;
  border: 1px dotted black; }

.stamp-background {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  background: #fab0b0; }

.stamp-background::after {
  content: "Forever";
  position: absolute;
  color: #8227ad;
  top: 78%;
  left: 5%;
  font-size: 8px;
  font-variant: small-caps; }

.pear-base {
  position: absolute;
  top: 13%;
  left: 23%;
  width: 54%;
  height: 80%;
  background-color: greenyellow;
  border-radius: 60% 60% 50% 50% / 70% 70% 50% 50%; }

.pear-bottom {
  position: absolute;
  bottom: 0%;
  left: -9%;
  width: 119%;
  height: 70%;
  background-color: greenyellow;
  border-radius: 50%; }

.stem {
  position: absolute;
  top: -10%;
  left: 51%;
  width: 15%;
  height: 22%;
  border-radius: 50%;
  box-shadow: -1px -1px 0 0 brown; }

.leaf {
  position: absolute;
  top: 9%;
  left: 18%;
  width: 53%;
  height: 25%;
  border-radius: 50%;
  box-shadow: -4px -4px 0 0 #37842d; }

blockquote {
  background: #edf9f9;
  border-radius: 2px; }

blockquote p {
  margin: 0;
  padding: 1em; }

blockquote p::before {
  content: '\201C'; }

blockquote p::after {
  content: '\201D'; }

cite {
  font-style: italic;
  margin-left: 1.6em;
  font-size: 0.7em; }

@media only screen and (min-width: 321px) {
  #nav-list {
    width: 80%; } }
@media only screen and (min-width: 424px) {
  p {
    font-size: .9em; }

  #nav-list {
    width: 20em; }

  .nav-link li {
    font-size: 1em; }

  .cards {
    height: 12em;
    width: 21.3em; }

  .card-text-left,
  .card-text-right {
    font-size: 0.8em; }

  .message-block {
    font-size: 0.6em;
    line-height: 2.2em; }

  .postcard-text {
    font-size: 0.8em; }

  .stamp-background::after {
    top: 78%;
    left: 2%;
    font-size: 12px; } }
@media only screen and (min-width: 769px) {
  p {
    font-size: 1.2em; }

  #site {
    flex-direction: row; }

  #navbar {
    flex-basis: 13em;
    margin-right: 1em; }

  #doc-title {
    font-size: 1.6em; }

  #nav-list {
    width: 100%; }

  .nav-link li {
    font-size: 1em;
    text-align: left;
    padding: 1.25em 0.75em; }

  #main-doc {
    flex-basis: 70%;
    margin-top: 3em; }

  .main-section header {
    font-size: 1.5em; }

  code {
    font-size: 1em;
    width: 80%;
    margin-left: 10%; }

  .cards {
    height: 16.87em;
    width: 30em; }

  .card-text-left,
  .card-text-right {
    font-size: 1.1em; }

  .message-block {
    font-size: 0.8em;
    line-height: 2.3em; }

  .postcard-text {
    font-size: 1em; }

  .stamp-background::after {
    top: 78%;
    left: 2%;
    font-size: 17px; } }

/*# sourceMappingURL=style.css.map */
