// font-family: 'Lora', serif;
// font-family: 'Muli', sans-serif;
// font-family: 'Homemade Apple', cursive;

// Palette URL: http://paletton.com/#uid=33i0u0kCSEEl4IzqZFAFcrBHPlz */
@import '_reset.scss';

//lines of paper
$paper: #edf9f9; //paper
$lines: #00c3c3;
// link and ink
$ink: #006767;

$yellow0: #ffaa00; // nav, button, etc/
$yellow1: #ffc757;
$yellow2: #ffb728;
$yellow3: #dc9300;
$yellow4: #ac7300;

$red0: #ff0000; // note, line of paper as ink */
$red1: #ff5757;
$red2: #ff2828; //footer
$red3: #dc0000;
$red4: #ac0000;

//GENERAL
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}
a {
  text-decoration: none;
  color: $ink;
}
h1,
h2,
h3 {
  font-family: 'Lora', serif;
}
p {
  line-height: 1.2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
//after css pen is done, convert body to #site.
// body {
//   //bg for vs code
//   background: url('../assets/paper_fibers/paper_fibers.png');
//   //bg for codepen
//   // background-color:#eff1f5;
//   display: flex;
//   flex-direction: column;
//   padding: 1em;
// }
#site {
  //bg for vs code
  background: url('../assets/paper_fibers/paper_fibers.png');
  //bg for codepen
  // background-color:#eff1f5;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

//NAV SECTION
#navbar {
  display: flex;
  flex-direction: column;

  header {
    font-family: 'Homemade Apple', 'Muli', 'Lora', serif;
    font-size: 2em;
    color: $ink;
    margin: 1em auto;
  }
}
#nav-list {
  background-color: $ink;
  width: 100%;
}
.nav-link li {
  background-color: #006767;
  color: $paper;
  padding: 0.8em 0;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.2s;
}
.nav-link li:hover {
  background-color: $paper;
  color: $ink;
}
//MAIN SECTION
.main-section {
  header {
    color: $ink;
    font-family: 'Lora', serif;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.2em;
  }
  h1 {
    font-family: 'Lora', serif;
  }
}
.main-section-list {
  h2 {
    font-weight: bold;
    margin-bottom: 0.25em;
  }
  li {
    margin-top: 0.5em;
    p {
      margin-left: 1em;
    }
  }
}
code {
  background: url('../assets/lined_paper/lined_paper.png');
  display: block;
  width: 80%;
  margin-left: 10%;
}
.pen-ink {
  font-family: 'Homemade Apple', cursive;
}
.typed {
  font-family: 'Lora', serif;
}
@media only screen and (min-width: 769px) {
  // body {
  //   flex-direction: row;
  // }
  #site {
    flex-direction: row;
  }
  #navbar {
    flex-basis: 13em;
    margin-right: 1em;
    header {
      font-size: 1.5em;

      margin: 1em auto;
    }
  }
  .nav-link {
    li {
      font-size: 1em;
      text-align: left;
      padding: 1em 0.25em;
    }
  }
  #main-doc {
    flex-basis: 70%;
    margin-top: 3em;
  }
}
