// font-family: 'Lora', serif;
// font-family: 'Muli', sans-serif; 
// font-family: 'Homemade Apple', cursive;


// Palette URL: http://paletton.com/#uid=33i0u0kCSEEl4IzqZFAFcrBHPlz */
@import "_reset.scss";

$ink: #043399;	// background, paper color, some pen ink  */
$teal1: #43C4C4; //lines of paper
$teal2: #d6f3f3; //paper
$teal3: #008484;
$teal4: #006767; // link and ink

$yellow0: #FFAA00;	// nav, button, etc/
$yellow1: #FFC757; 
$yellow2: #FFB728;
$yellow3: #DC9300;
$yellow4: #AC7300;

$red0: #FF0000;	// note, line of paper as ink */
$red1: #FF5757;
$red2: #FF2828; //footer
$red3: #DC0000;
$red4: #AC0000;

//GENERAL
* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  font-family: 'Muli', sans-serif; 
}a {
  text-decoration: none;
}
h1, h2, h3 {
  font-family: 'Lora', serif;
}
p{line-height: 1.2em;}
#site{
    background: url('../assets/paper_fibers/paper_fibers.png');
  display:flex;
  flex-direction: column;
  padding: 1em;
}

//NAV SECTION
#navbar{
display: flex;
flex-direction: column;
align-items: center;
header{
  font-family: 'Homemade Apple', cursive;
  font-size: 2em;
  color: $ink;
}
}
.nav-link{
  li {
    font-family: 'Lora', serif;
  }
}

//MAIN SECTION
.main-section{
  header{
    font-family: 'Lora', serif;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
  }
}

@media only screen and (min-width: 768px){
  #site{
    flex-direction: row; 
  }
}